package com.nndmove.app.service.dto;


import java.io.Serializable;
import lombok.Getter;
import lombok.Setter;
import lombok.experimental.Accessors;
#foreach($field in $additionImports)
import $field;
#end

@Getter
@Setter
@Accessors(chain = true)
public class ${entityName}DTO implements Serializable {
    private static final long serialVersionUID = 1L;

#foreach ($field in $dtoFields)
    $field
#end
}
